@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/*font-family: 'Roboto', sans-serif;*/


:root {
    --black: #171718;
    --yellow: yellow ;
    --orange: orange;

    --dark-bg: var(--black);
    --accent: var(--orange);

}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/*.wrapper {*/
/*    min-height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*main {*/
/*    flex: 1 1 auto;*/
/*}*/

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}


/* ==============================  nav   ====================================  */

.nav {
    position: relative;
    padding: 20px 0;
    background-color: var(--dark-bg);
    color: white;
    border: 1px solid #26292D;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    height: 48px;
}

.logo {
    color: var(--accent);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;

}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    font-size: 18px;
    font-weight: 500;
    row-gap: 10px;
    margin-bottom: 0px;
}

.nav-list__link {
    color: white;
    transition: opacity 0.1s ease-in;
}
.nav-list__link:hover {
    opacity: 0.8;
    color: var(--accent);
}

.nav-list__link--active {
    position: relative;
}
.nav-list__link--active::before {
    position: absolute;
    left: 0;
    top: 100%;
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--accent);
}
/* ==============================  header   ====================================  */

header {
    padding: 40px 0;
    min-height: 695px;

    display: flex;
    justify-content: center;
    align-items: center;

    /*background-image: url('../img/.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: auto;*/
    /*background-position: center;*/

    background-color: var(--dark-bg);
    color: white;
    text-align: center;
}
.header__wrapper {
    padding: 0 15px;
    max-width: 660px;
}
.header__title{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}
.header__title strong {
    font-size: 50px;
    color: var(--accent);
}
.header_text {
    margin-bottom: 40px;
    font-size: 18px;
}
.header_text strong {
    color: var(--accent);
}
.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    transition: opacity 0.1s ease-in;
}

.btn:hover {
    background-color: var(--accent);
    color:  var(--black);
    opacity: 0.8;
}


/*======================================================search*/

.nav-list__item a {
    color: white;
}
.form-search{
    margin: 10vh auto;
    text-align: center;
    width: 50%;
    height: 50%;
}
.form-control:focus {
    color: black;
    border-color: orange;
    box-shadow: 0 0 0 .1rem rgba(238, 110, 115,.25);
}
/* ==============================  main   ====================================  */

.section {
    padding: 70px 0;

}
.title-1 {
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 700;
    color: var(--accent);
    text-align: center;
}
.tests {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}
.test {
    /*max-width: 100px;*/
    background-color: white;
    box-shadow: 0px 5px 35px rgba(0,0,0,0.25);
    transition: opacity 0.1s ease-in;
    width: 310px;
}
.test:hover {
    opacity: 0.8;
}
.test__image {
    max-height: 300px ;
    width: 288px;
    display: block;
    margin: auto;
    padding: 15px;

}
.test__title {
    padding: 15px 20px 25px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--orange);
}

/* ==============================  footer   ====================================  */
footer {
    margin-top: auto;
    padding: 30px 0 30px;
    background-color: var(--dark-bg);
    color: white;
}

.foot-wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    row-gap: 27px;
}
.foot-wrapper a img {
    max-width: 40px;
}
.copyright {
    font-size: 16px;
}


/*================================================= questions ===================================*/

.title-name-test {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: var(--accent);
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.pagination a {
    padding: 6px 16px;
    margin-right: 15px;
    border: 2px solid white;
    border-radius: 10%;
    text-decoration: none;
    background: orange;
    color: black;
    font-size: 20px;
    font-weight: 700;
    transition: opacity 0.1s ease-in;
}
.pagination a:hover {
    background: black;
    color: white;
    opacity: 0.8;
}
.pagination > a.nav-active {
    background: black;
    color: white;

}


.question {
    border: 4px solid white;
    padding: 5px;
    margin: auto;
    box-shadow: 0px 5px 35px rgba(0,0,0,0.25);
    list-style: none;
    display: none;
}
.question__name {
    margin-top: 20px;
    font-weight: 700;
}

.li__item {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(59,119,181,.05);
    padding: 8px 16px;
    margin-top: 4px;
    max-width: 320px;
    width: 100%;
    transition: .3s;
}
.li__item:hover {
    background-color: orange;
}
.li__item label {
    /*margin: auto;*/
    width: 100%;
    text-align: left;
    margin-left: 10px;
}


/*.li__item input {*/
/*    display: none;*/
/*}*/

.answers-wrapper {
    margin-bottom: 8px;
}


.none {
    display: none;
}

/*.abra {*/
/*    display: none;*/
/*}*/

/*======================================================07.07==============*/
.count-res {
    font-size: 28px;
    background-color: black;
    color: white;
    padding: 30px;
}

.test-data {

}

.question-res {
    margin: 10px 0 10px 0;
    padding: 5px;
}

.ok {
    border: 1px solid green;
    background: #DEF9CE;
    color: #58715E;
}
.error {
    background: #F6D5D4;
    color: #7F5354;
}

.a {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(59,119,181,.05);
    padding: 8px 16px;
    margin-top: 4px;
    width: 320px;
    font-weight: 500;
    font-size: 16px;
    color: grey;

}
.ok2 {
    border-radius: 10px;

    color: white;
    font-size: 20px;
    background: darkseagreen;
}
.error2 {
    border-radius: 10px;
    border: 2px solid #FF6372;
    color: red;
    font-size: 20px;
}
/*=========================================03-07*/
.dropdown__img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-item:hover {
    color: orange;
    opacity: 0.8;
    background-color: black;
}
/*======================================================================================================*/

.lk-header {
    /*height: 70px;*/
    background-color: #F1F4F8;
    border-radius: 5px;
    font-size: 2em;
    padding: 20px;
}
.hi_user  {
    font-weight: 700;
    color: orange;
    text-decoration: underline;
}
.img-avatar {
    width: 88px;
    height: 88px;
    border-radius: 10px;
}

.lk-menu {
    margin-top: 40px;
    border: 5px solid #f1f4f8;
    list-style: none;
    padding-left: 0;
}


.lk-menu__item {
    font-size: 1.5em;

}
.lk-menu__item a {
    max-width: 320px;
    text-decoration: none;
    padding: 12px 36px;
    font-weight: 500;
    line-height: 24px;
    display: block;
    color: orange;
    border: 1px solid #cadbf1;
    border-right: none;
    white-space: nowrap;
}
.lk-menu__item:last-child {
    border-right: 1px solid #cadbf1;
}

/*==============================================================leaderboard================================*/

.container-lb {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 520px;
}
.leaderboard-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 20px 25px 52px rgba(59,119,181,.05);
    padding: 0 20px 0 20px;

}



/*=========================================================================================================*/
@media (max-width: 620px) {

    .nav-row {
        justify-content: center;
    }

    header {
        min-height: unset;
    }
    .header__title {
        font-size: 20px;
    }
    .header__title strong {
        font-size: 30px;
    }

    .section {
        padding: 40px 0;
    }
    .title-1 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .tests {
        padding-left: 0;
    }

    .test {
        max-width: 150px;
    }

    .test__title {
        font-size: 18px;
        padding: 10px;
    }

    footer {
        padding: 20px 0 20px;
    }
    .foot-wrapper a img {
        max-width: 30px;
    }

}
@media (max-width: 815px) {
    .nav-row {
        justify-content: center;
    }
    .nav-list {
        display: none;
    }
    /*body,html {*/
    /*    min-height: 50vh;*/
    /*}*/
}

